.checkout {
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
}

.checkout__ad {
    width: 100%;
    margin-bottom: 10px;
}

.checkout__title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
}

.checkout__left {
    display: flex;
    flex-direction: column;
}

/*----------------------------------------------------------------------*/

@media screen and (max-width: 800px){
    .checkout {
        display: flex;
        padding: 10px;
        background-color: white;
        height: max-content;
    }
    
    .checkout__ad {
        width: 70%;
        margin-bottom: 4px;
    }
    
    .checkout__title {
        margin-right: 10px;
        padding: 10px;
        border-bottom: 1px solid lightgrey;
        font-size: small;
    }
    
    .checkout__left {
        display: flex;
        flex-direction: column;
        font-size: small;
    }

    .checkout__right{
        font-size: x-small;
    }
}